In [2]:
import pandas as pd
import re

In [3]:
#df =  pd.read_csv("C:/Users/HP/Downloads/Suicide_Depression_Intensity.csv")

In [4]:
df1 = pd.read_csv("tweets_depressed.csv")
df2 = pd.read_csv("tweets_depressed1.csv")
df3 = pd.read_csv("tweets_depressed2.csv")
df4 = pd.read_csv("tweets_depressed3.csv")
df_all = pd.concat([df1, df2,df3,df4])

In [7]:
#df_all=df

In [8]:
# Check for the size of each dataset
len(df1), len(df2),len(df3), len(df4), len(df_all)

(20000, 12816, 20000, 20000, 72816)

In [9]:
df_all=df_all.drop(['Unnamed: 0'],axis=1)

In [10]:
df_all = df_all.drop_duplicates()

In [11]:

df_all

,Date,User,Location,Tweet
0,2022-12-23 19:43:01+00:00,celesteoliva1,NaN,Sad winners &gt; \n#depressed #Motivation #cob...
1,2022-12-23 19:00:49+00:00,coley042216,"Charlotte, NC",The holidays after someone passes are the hard...
2,2022-12-23 18:36:55+00:00,YaedeProd,My thought's,Samples my OCD won't let me use (1/20?) #music...
3,2022-12-23 18:25:32+00:00,JanKucak,NaN,I just published 5 Surprising Ways to Boost Yo...
4,2022-12-23 17:46:49+00:00,stonestreetdsns,"Melbourne, Victoria",Stick Figure https://t.co/9tZM77FdM3 #depresse...
...,...,...,...,...
19995,2022-04-08 13:38:01+00:00,RyanAndSteven,NaN,One of the most human-centered leaders we know...
19996,2022-04-08 13:31:01+00:00,Nans4Grans,"Harpenden, St Albans",Rejuvenation of woman's skin could tackle dise...
19997,2022-04-08 13:23:00+00:00,KDolanWilliams,"Chicago, IL",#Leaders aren't exempt from feeling lonely. In...
19998,2022-04-08 13:11:12+00:00,MEActNet,Global,Loneliness is certainly not unique to ME but w...
19999,2022-04-08 12:56:31+00:00,revnhavelka,"Columbus, OH","""You can feel just as lonely by yourself at ho..."

In [12]:
def extract_hash_tags(s):
    return set(part[1:] for part in s.split() if part.startswith('#'))

In [14]:
def find_hash(text):
    hword=re.findall(r'(?<=#)\w+',text)
    return " ".join(hword)
df_all['hash_word']=df_all['Tweet'].apply(lambda x: find_hash(x))
print("\Extracting#@word from dataframe columns:")
print(df_all)

\Extracting#@word from dataframe columns:
                            Date             User              Location  \
0      2022-12-23 19:43:01+00:00    celesteoliva1                   NaN
1      2022-12-23 19:00:49+00:00      coley042216         Charlotte, NC
2      2022-12-23 18:36:55+00:00        YaedeProd          My thought's
3      2022-12-23 18:25:32+00:00         JanKucak                   NaN
4      2022-12-23 17:46:49+00:00  stonestreetdsns   Melbourne, Victoria
...                          ...              ...                   ...
19995  2022-04-08 13:38:01+00:00    RyanAndSteven                   NaN
19996  2022-04-08 13:31:01+00:00       Nans4Grans  Harpenden, St Albans
19997  2022-04-08 13:23:00+00:00   KDolanWilliams           Chicago, IL
19998  2022-04-08 13:11:12+00:00         MEActNet                Global
19999  2022-04-08 12:56:31+00:00      revnhavelka          Columbus, OH

                                                   Tweet  \
0      Sad winners &gt; \n#depressed #Motivation #cob...
1      The holidays after someone passes are the hard...
2      Samples my OCD won't let me use (1/20?) #music...
3      I just published 5 Surprising Ways to Boost Yo...
4      Stick Figure https://t.co/9tZM77FdM3 #depresse...
...                                                  ...
19995  One of the most human-centered leaders we know...
19996  Rejuvenation of woman's skin could tackle dise...
19997  #Leaders aren't exempt from feeling lonely. In...
19998  Loneliness is certainly not unique to ME but w...
19999  "You can feel just as lonely by yourself at ho...

                                               hash_word
0                       depressed Motivation cobra sigma
1                sadonchristmas depressed doitforthwkids
2      music musicproducer indiemusic indieartist rel...
3      mentalhealth mentalillness Depresion depressed...
4      depressed depression sad stickfigure drawing s...
...                                                  ...
19995  loneliness mentalhealth connection belonging w...
19996  nans4grans olderpeople ageing seniors Harpende...
19997                         Leaders loneliness mentors
19998                          loneliness ChronicIllness
19999         LeadershipDevelopment Loneliness Community

[72636 rows x 5 columns]

In [15]:
df_all

,Date,User,Location,Tweet,hash_word
0,2022-12-23 19:43:01+00:00,celesteoliva1,NaN,Sad winners &gt; \n#depressed #Motivation #cob...,depressed Motivation cobra sigma
1,2022-12-23 19:00:49+00:00,coley042216,"Charlotte, NC",The holidays after someone passes are the hard...,sadonchristmas depressed doitforthwkids
2,2022-12-23 18:36:55+00:00,YaedeProd,My thought's,Samples my OCD won't let me use (1/20?) #music...,music musicproducer indiemusic indieartist rel...
3,2022-12-23 18:25:32+00:00,JanKucak,NaN,I just published 5 Surprising Ways to Boost Yo...,mentalhealth mentalillness Depresion depressed...
4,2022-12-23 17:46:49+00:00,stonestreetdsns,"Melbourne, Victoria",Stick Figure https://t.co/9tZM77FdM3 #depresse...,depressed depression sad stickfigure drawing s...
...,...,...,...,...,...
19995,2022-04-08 13:38:01+00:00,RyanAndSteven,NaN,One of the most human-centered leaders we know...,loneliness mentalhealth connection belonging w...
19996,2022-04-08 13:31:01+00:00,Nans4Grans,"Harpenden, St Albans",Rejuvenation of woman's skin could tackle dise...,nans4grans olderpeople ageing seniors Harpende...
19997,2022-04-08 13:23:00+00:00,KDolanWilliams,"Chicago, IL",#Leaders aren't exempt from feeling lonely. In...,Leaders loneliness mentors
19998,2022-04-08 13:11:12+00:00,MEActNet,Global,Loneliness is certainly not unique to ME but w...,loneliness ChronicIllness
19999,2022-04-08 12:56:31+00:00,revnhavelka,"Columbus, OH","""You can feel just as lonely by yourself at ho...",LeadershipDevelopment Loneliness Community

In [29]:
df_all.hash_word.value_counts().head(100)

                                                                                                                                                                                                                    9217
depressed                                                                                                                                                                                                           5281
吐くフィルム                                                                                                                                                                                                              4379
hopelessness                                                                                                                                                                                                        1741
loneliness                                                                                                                                                                                                          1287
                                                                                                                                                                                                                    ...
depression sad depressed sadquotes lifesucks realityoflife fakesmile hatemylife depressedquotes depressedboy suicide depressedgirl iwannadie leavemealone feelingsad cry alone emotional reality memes darkmemes      18
TodaysQuestion teslaAppStore loneliness activity mate                                                                                                                                                                 17
depression depressed women selflove selfcare girl SuicidePrevention SuicideAwareness SelfHarmAndMe                                                                                                                    17
life hope depressed                                                                                                                                                                                                   17
depression depressed NotJustSad                                                                                                                                                                                       17
Name: hash_word, Length: 100, dtype: int64

In [22]:
#selection_to_remove = ["Metallica","Entertainment","Metallica ScreamingSuicide NewSong 72SeasonsAlbum FifthMember MetFans Meâ",
#                      "Akathisia SuicidePrevention", "wellnessjourney faith SuicidePrevention elevated", "wellnessjourney faith SuicidePrevention elevated"
#                      , "ArrestSwatiMaliwal"]

selection_to_remove = [ "MentalHealthAwarenessWeek","MentalHealthAwarenessWeek2022", "吐くフィルム ", "NFTCommunity", "MentalHealthMatters", "LonelinessAwarenessWeek", "Motivation", "LeadershipDevelopment","Fiction", "health", "happiness", "mentalillness", "happy", "joy", "wellbeing"]

In [23]:
## 1. remove entries that contain positive, or medical sounding tags

In [25]:
mask1 = df_all.hash_word.apply(lambda x: any(item for item in selection_to_remove if item in x))
df_all[mask1].Tweet.tail(10)

19967    67 days to Loneliness awareness week. The Gold...
19969    Had a panic attack in the middle of the night…...
19970    Loved Ones Gone — Hope’s Return. An Abandoned ...
19971    Getting Rid of #Loneliness without Getting The...
19973    How to reduce loneliness: Meaningful activitie...
19988    Every day @THFNbefriending are #befriending - ...
19991    It’s okay to be not okay 🤷🏼‍♀️😛\n#women #amwri...
19994    #Mental Health Awareness Week 9-15 May 2022 - ...
19995    One of the most human-centered leaders we know...
19999    "You can feel just as lonely by yourself at ho...
Name: Tweet, dtype: object

In [27]:
# review the result of remving certain tags
df_all[mask1==False].Tweet.head(10)

1     The holidays after someone passes are the hard...
2     Samples my OCD won't let me use (1/20?) #music...
4     Stick Figure https://t.co/9tZM77FdM3 #depresse...
6     This is about how festive I feel right now #de...
7     COBRA on MOTIVATION BY DEPRESSION\n\n#cobra #d...
8     @FiverrSupport @AqibMah35613691 How can we del...
10    Not all #depressions are the same and it is im...
12    ¿Sientes que estás cayendo más y más en la osc...
13    Billionaire finds the cure to depression! #Cob...
15    Isaiah 40, a (brief) summary:\n\n#Christmas #C...
Name: Tweet, dtype: object

In [28]:
# above results look good, let's apply the mask1
df_all = df_all[mask1==False]
len (df_all)

61148

In [30]:
## 2. remove entries with more than five hashtags, as it may be promotional messages

In [31]:
mask2 = df_all.hash_word.apply(lambda x: x.count(" ") < 6)

In [32]:
# applying the mask2
df_all = df_all[mask2]

In [33]:
#Check dataset size 
len(df_all)

49869

In [34]:
df_all.head()

,Date,User,Location,Tweet,hash_word
1,2022-12-23 19:00:49+00:00,coley042216,"Charlotte, NC",The holidays after someone passes are the hard...,sadonchristmas depressed doitforthwkids
6,2022-12-23 17:39:14+00:00,WMurphyJerrett,"South West, England",This is about how festive I feel right now #de...,depressed actor
8,2022-12-23 17:05:55+00:00,Abrar81159813,Punjab,@FiverrSupport @AqibMah35613691 How can we del...,depressed
10,2022-12-23 16:34:07+00:00,shannonpeel1,"Vancouver, British Columbia",Not all #depressions are the same and it is im...,depressions depressed depression
12,2022-12-23 16:08:03+00:00,NoiseOne5,NaN,¿Sientes que estás cayendo más y más en la osc...,Depresion sad depressed suicidio oyasumipunpun

In [35]:
## 3. remove entries with less than x chars / words

In [37]:
df_all["Tweet"] = df_all["Tweet"].apply(lambda x: re.sub(r'#\w+', '', x))
   
df_all["Tweet"] = df_all["Tweet"].apply(lambda x: re.sub(r'@\w+' , '', x))

In [38]:
def clean_data(dataframe):
#replace URL of a text
    df_all['Tweet'] = df_all['Tweet'].str.replace('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', ' ')

clean_data(df_all)
print(df_all['Tweet']);

1        The holidays after someone passes are the hard...
6           This is about how festive I feel right now
8          How can we deliver order without getting on ...
10       Not all  are the same and it is important to u...
12       ¿Sientes que estás cayendo más y más en la osc...
                               ...
19987    Media Lounge\n Day 8\n \n\nYou will (Not) Rema...
19992                              Courage To Act by
19993                                              To  .
19997     aren't exempt from feeling lonely. In fact, e...
19998    Loneliness is certainly not unique to ME but w...
Name: Tweet, Length: 49869, dtype: object

C:\Users\HP\AppData\Local\Temp\ipykernel_13184\4263778418.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df_all['Tweet'] = df_all['Tweet'].str.replace('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', ' ')

In [40]:
mask4a = df_all.Tweet.apply(lambda x: len(x) > 25)

In [41]:
df_all = df_all[mask4a]
len(df_all)

44235

In [43]:

mask4b = df_all.Tweet.apply(lambda x: x.count(" ") > 5)

In [44]:
df_all = df_all[mask4b]
len(df_all)

30791

In [46]:
df_all.Tweet

1        The holidays after someone passes are the hard...
6           This is about how festive I feel right now
8          How can we deliver order without getting on ...
10       Not all  are the same and it is important to u...
12       ¿Sientes que estás cayendo más y más en la osc...
                               ...
19983    Feeling really positive about my new Women's S...
19984     in London: what do we know and where are the ...
19987    Media Lounge\n Day 8\n \n\nYou will (Not) Rema...
19997     aren't exempt from feeling lonely. In fact, e...
19998    Loneliness is certainly not unique to ME but w...
Name: Tweet, Length: 30791, dtype: object

In [47]:
df_all.to_csv("Depressed_Tweet_NotSuicide.csv")